.root ol {
  list-style: decimal-leading-zero;
  max-width: 500px;
  margin-left: 30px;
}

.root ol p {
  min-width: unset;
}

.root ul {
  list-style: disc;
  max-width: 500px;
  margin-left: 30px;
}

.root li {
  padding: 10px 0;
}

.root ul p {
  min-width: unset;
}
