.container {
  max-width: 1600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  min-height: 63vh;
}

.content {
  padding: 0 5.8%;
}

.footer {
  background: var(--grey-5);
  color: var(--grey-1);
  padding: 3rem;
  margin-top: 1rem;
}

.footer__widgets {
  display: flex;
  flex-wrap: wrap;
  gap: calc(6vmin);
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__link {
  color: var(--grey-2);
}
