.header {
  background: var(--grey-5);
  margin-bottom: 1.45rem;
}

.header__container {
  margin: 0 auto;
  display: flex;
  align-items: baseline;
  gap: 1rem;
  padding: 1.45rem 1.0875rem;
}

.header__link {
  color: var(--grey-1);
  text-decoration: none;
}

.header__description {
  color: #bfbfbf;
}
