:root {
  --grey-1: #f2f2f2;
  --grey-2: #bfbfbf;
  --grey-3: #8c8c8c;
  --grey-4: #595959;
  --grey-5: #0d0d0d;
  --gray-1: --grey-1;
  --gray-2: --grey-2;
  --gray-3: --grey-3;
  --gray-4: --grey-4;
  --gray-5: --grey-5;
}

body {
  min-height: 100vh;
  background: var(--grey-1);
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L",
    "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter",
    "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow",
    "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L",
    Georgia, serif;
  font-size: 18px;
  color: var(--grey-5);

  @media screen and (max-width: 880px) {
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans",
    "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

h1,
h2 {
  line-height: 1.2;
  padding: 1rem 0;
}

h3,
h4,
h5,
h6 {
  line-height: 1.5;
}

h2,
h4,
h6 {
  color: var(--grey-4);
}

h1 {
  font-size: 2rem;
  font-weight: 900;
}
h2 {
  font-size: 1.5rem;
  font-weight: 800;
}
h3 {
  font-size: 1.17rem;
  font-weight: 700;
}
h4 {
  font-size: 1rem;
  font-weight: 450;
}
h5 {
  font-size: 0.83rem;
}
h6 {
  font-size: 0.75rem;
}

p {
  padding: 0.5rem 0;
  line-height: 1.5;
  min-width: 350px;
  max-width: 560px;

  @media screen and (max-width: 880px) {
    min-width: 310px;
    max-width: 500px;
  }
}

code {
  white-space: normal !important;
}

pre code {
  white-space: pre !important;
}
